<mat-form-field [appearance]="appearance" class="w-full">
  <mat-label>{{ label }} </mat-label>
  <mat-select
    [disabled]="isDisabled"
    [value]="value"
    (selectionChange)="pick($event.value)"
  >
    <mat-option [value]="null">-- Select a user --</mat-option>
    <mat-option *ngFor="let u of users()" [value]="u.id">{{
        u.fullName
      }}</mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="loading()">Loading users…</div>
<div *ngIf="error()" class="error">{{ error() }}</div>
